<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Run</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Web Run for Scrollbot</a>
    </nav>
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">Web Run for Scrollbot</h1>
          <p class="lead">For launching Scrollbot apps</p>
        </div>
      </div>
    <div class="container">
        <p class="text-justify">The process status is {{process_status}}</p>
        <input type = "button" onclick="window.location.href='/start'" value="Start Process">
        <input type = "button" onclick="window.location.href='/stop'" value="Stop Process">
    </div>

</body>
</html>